.login {
  background: linear-gradient(196.19deg, #7054be 17.02%, #54b1be 119.33%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginContainer {
  width: 580px;
  height: 430px;
  min-width: 300px;
  background: white;
  border-radius: 40px;
}
.loginLogo {
  background: #fafafa;
  border-radius: 40px 40px 0 0;
  padding: 20px 20px 20px 20px;
  color: #1f1f1f;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(161,161,161,1);
  -moz-box-shadow: 0px 0px 16px 0px rgba(161,161,161,1);
  box-shadow: 0px 0px 2px 0px rgba(161,161,161,1);
}
.loginContent {
  width: 62%;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginContent input {
  width: 100%;
  height: 48px;
  border-radius: 40px;
  outline: none;
  border: 2.2px solid #7054be;
  margin-bottom: 25px;
  padding-left: 10px;
  font-size: 14px;
}
.loginButtons {
  padding-top: 12px;
  width: 62%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.loginButtons > button {
  width: 160px;
  height: 48px;
  border-radius: 40px;
  border: 2.2px solid #7054be;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .2px;
}
.outlineButton {
  background: transparent;
}
.buttonFilled {
  background: #7054be;
}
.buttonFilled p {
  color: #fafafa;
}
.loginLabel {
  font-size: 12px;
  text-align: center;
}
#line {
  width: 40%;
  margin: 0 auto;
  border: .5px solid rgb(214, 214, 214);
  margin-top: 35px;
  margin-bottom: 25px;
}
