.bar {
    position: absolute;
    bottom: -10px;
    height: 4px;
    width: 100%;
    display: flex;
}
.barGreen{
    height: 100%;
    background: green;
}
.barRed {
    height: 100%;
    background: red;
}
.barGrey {
    width: 100px;
    height: 100%;
    background: rgb(180, 180, 180);
}

@media only screen and (max-width: 1200px) {
    .bar {
        height: 8px;
        width: 200px;
    }
}