.HomeBody {
  max-width: 1920px;
  margin: 0 auto;
  background: url('../../images/bg4.svg') no-repeat top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
}
.homeBodyUpper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
}
.HomebodyContentText {
  color: #f1f1f1;
  width: 40%;
  transform: scale(1);
  transform-origin: 0% 0% 0px;
}
.HomebodyContentText h1 {
  padding-bottom: 18px;
}
.HomebodyContentText p {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.homebodyContentImage {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.homebodyContentImage img {
  width: 80%;
  height: 100%;
}

.cardsRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: -6rem;
}
.HomeBodyCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.squares {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: '. card' '. card';
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.teste1 {
  width: 250px;
  height: 250px;
  background: red;
  justify-self: right;
}
.teste2 {
  width: 250px;
  height: 250px;
  background: blue;
  justify-self: right;
}
.teste3 {
  width: 250px;
  height: 250px;
  background: yellow;
  grid-area: card;
  align-content: center;
  align-self: center;
}
.cardsDescription {
  width: 40%;
}
@media only screen and (max-width: 1200px) {
  .homeBodyUpper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .HomebodyContentText {
    width: 95%;
    text-align: center;
  }
  .HomebodyContentText h1 {
    font-size: 26px !important;
  }
  .HomebodyContentText p {
    font-size: 16px !important;
  }
}
