.floatButton{ 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 12px;
    right: 112px;
    z-index: 1;
}

.floatButton:hover {
    transform: scale(0.9);
    transition: all .2s ease-in-out;
}