.Register {
    height: 100vh;
    min-height: 500px;
    background: #7054BE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.RegisterContent {
    /* background: #f1f1f1; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    max-width: 600px;
    min-width: 400px;
    width: 50%;
    height: 50vh;
}
