.NavBottom {
    width: 100%;
    height: 6vh;
    min-height: 6vh;
    padding: 0 !important;
    box-shadow: 0px 1px 1px rgba(190, 190, 190, 0.5), inset 0px 4px 4px rgba(0, 0, 0, 0.0);
    min-height: 40px;
}
.NavBottomContainer {
    height: 6vh;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.NavBottomContainer a p {
    font-size: 14px;
    font-weight: 500;
    color: #1f1f1f;
}
.NavBottomContainer a {
    text-decoration: none;
}

@media only screen and (max-width: 1200px) {
    .NavBottomContainer {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .NavBottomContainer a p {
        font-size: 12px !important;
        font-weight: 500;
        color: #1f1f1f;
    }
}
      